<footer>
    <div class="container">
        <div class="mini-footer">
            <div class="row">
                <div class="col-12 text-center">
                    <div>
                        <h2><img src="../../assets/images/LOGO.png" alt="logo"></h2>
                        <ul>
                            <li><a href="">Home</a></li>
                            <li><a href="">Services</a></li>
                            <li><a href="">About me</a></li>
                            <li><a href="">Portfolio</a></li>
                            <li><a href="">Contact me</a></li>
                        </ul>
                        <div class="social">
                            <a href="">
                                <img src="../../assets/images/social1.svg" alt="">
                            </a>
                            <a href="">
                                <img src="../../assets/images/social2.svg" alt="">
                            </a>
                            <a href="">
                                <img src="../../assets/images/social3.svg" alt="">
                            </a>
                            <a href="">
                                <img src="../../assets/images/social4.svg" alt="">
                            </a>
                        </div>
                        <div class="contact-footer">
                            <h3><span><img src="../../assets/images/mail.svg" alt=""></span>
                                Mahmood.fazile7005@gmail.com</h3>
                            <h3><span><img src="../../assets/images/phone.svg" alt=""></span>
                                +93 729 107 005</h3>
                        </div>
                        <p>Designed by @mahmood.fazile UI/UX designer</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>