<header id="home-page">
   
                    
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container">
                
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon">
                        <img src="assets/images/bar.svg" alt="bar">
                    </span>
                </button>

                <h1>
                <a class="navbar-brand" href="#home-page">
                    <img class="logo-img" src="assets/images/LOGO.png" alt="logo">
                </a>
                </h1>

                <form class="d-flex  d-lg-none" role="search">
                    <button type="submit">Hire Me</button>
                </form>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav m-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#home-page">Home</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="#services-sec">Services</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="#about-sec">About me</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="#portofolio-sec">Portfolio</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="#contact-sec">Contact me</a>
                    </li>
                
                
                </ul>
                <div class="d-none d-lg-flex btn-nav " role="search">
                    <button>Hire Me</button>
                </div>
                </div>
            </div>
            </nav>

        
        
   
</header>