


@mixin textProperties($colorText,$family,$weight,$size,$lineHeight){
    color: $colorText;
    font-family: $family;
    font-weight: $weight;
    font-size: $size;
    line-height: $lineHeight;
}