

// fonts
    // size
    $size_0:14px;
    $size_1:15px;
    $size_2:18px;
    $size_3:20px;
    $size_4:30px;
   
    // colors
    $color_1:#fff;
    $color_2:#000;
    $color_3:#C4C4C4;
    $color_4:#0B31B9;
    $color_5:#4561BF;
    // family
    $family_1:"Open Sans";
    $family_2:"Gayathri";
    
