{% extends "layout.html" %}

{% block content %}



<section id="header-sec" class="header">
    <div class="mini-header">

        <div class="container ">
            <div class="row  align-items-lg-center">
                <div class="col-lg-5 ">
                    <div class="info text-center text-lg-start">
                       <h4>Hi I am</h4> 
                       <h3>Mahmood Fazile</h3>
                       <h2>UI/UX designer</h2>
                       <div class="social justify-content-center justify-content-lg-start">
                            <div>
                                <a href="#">    
                                  <img src="assets/images/social1.svg" alt="insta">
                                </a>
                            </div>
                            <div>
                                <a href="#">    
                                    <img src="assets/images/social2.svg" alt="linkedin">
                                  </a>
                            </div>
                            <div>
                                <a href="#">    
                                    <img src="assets/images/social3.svg" alt="web">
                                  </a>
                            </div>
                            <div>
                                <a href="#">    
                                    <img src="assets/images/social4.svg" alt="be">
                                  </a>
                            </div>
                           
                       </div>
                       <div class="btn justify-content-center justify-content-lg-start">
                            <button class="btn1">Hire Me</button>
                            <button class="btn2">Downlead CV </button>
                       </div>
                       
                       <div class="experiences text-start">
                            <div class="exp-1">
                                <h4><span>5+</span>Experiences</h4>
                            </div>
                            <div class="exp-2">
                                <h4><span>20+</span>Project done</h4>
                            </div>
                            <div>
                                <h4><span>80+</span>Happy Clients</h4>
                            </div>
                       </div>
    
                       <img class="shape d-lg-none" src="assets/images/shap-sm.svg" alt="">
                       <img class="shape d-none d-lg-block " src="assets/images/shap.svg" alt="">
                    </div>
                </div>
    
                <div class="col-lg-6 offset-lg-1 ">
                    <div class="person">
                        <img class="person w-100 d-lg-none" src="assets/images/person-sm.png" alt="person">
                        <img class="person w-100 d-none d-lg-block" src="assets/images/person.png" alt="person">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="services-sec" class="services">
    <div class="container">
        <div class="mini-services">
            <div class="row">
                <div class="col-12">
                    <div class="text-center">
                        <h2>
                            Services
                        </h2>
                    </div>
                </div>
                <div class="col-12">
                    <div class="text-center">
                        <p class="des-services">Lorem ipsum dolor sit amet consectetur. Imperdiet convallis blandit felis ligula aliquam</p>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row justify-content-center cards text-center">
    
                        <div class="col-9 col-sm-6 col-md-6 col-lg-4">
                            <div class="card ">
                                <div class="img">
                                    <img src="assets/images/user.svg" alt="user">
                                </div>
                                <h3>App Design</h3>
                                <p>Lorem ipsum dolor sit amet . Imperdiet Lorem ipsum dolor sit amet consectetur</p>
                            </div>
                        </div>
                        <div class="col-9 col-sm-6 col-md-6 col-lg-4">
                            <div class="card ">
                                <div class="img">
                                    <img src="assets/images/user.svg" alt="user">
                                </div>
                                <h3>App Design</h3>
                                <p>Lorem ipsum dolor sit amet . Imperdiet Lorem ipsum dolor sit amet consectetur</p>
                            </div>
                        </div>
                        <div class="col-9 col-sm-6 col-md-6 col-lg-4">
                            <div class="card ">
                                <div class="img">
                                    <img src="assets/images/user.svg" alt="user">
                                </div>
                                <h3>App Design</h3>
                                <p>Lorem ipsum dolor sit amet . Imperdiet Lorem ipsum dolor sit amet consectetur</p>
                            </div>
                        </div>
                        <div class="col-9 col-sm-6 col-md-6 col-lg-4">
                            <div class="card ">
                                <div class="img">
                                    <img src="assets/images/user.svg" alt="user">
                                </div>
                                <h3>App Design</h3>
                                <p>Lorem ipsum dolor sit amet . Imperdiet Lorem ipsum dolor sit amet consectetur</p>
                            </div>
                        </div>
                        <div class="col-9 col-sm-6 col-md-6 col-lg-4">
                            <div class="card ">
                                <div class="img">
                                    <img src="assets/images/user.svg" alt="user">
                                </div>
                                <h3>App Design</h3>
                                <p>Lorem ipsum dolor sit amet . Imperdiet Lorem ipsum dolor sit amet consectetur</p>
                            </div>
                        </div>
                        <div class="col-9 col-sm-6 col-md-6 col-lg-4">
                            <div class="card ">
                                <div class="img">
                                    <img src="assets/images/user.svg" alt="user">
                                </div>
                                <h3>App Design</h3>
                                <p>Lorem ipsum dolor sit amet . Imperdiet Lorem ipsum dolor sit amet consectetur</p>
                            </div>
                        </div>
                       
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="about-sec"  class="about">
    <div class="container ">
        <div class="mini-about">
            <div class="row text-center ">
                <div class="col-12">
                    <div>
                        <h2>
                            About Me
                        </h2>
                    </div>
                </div>
                <div class="col-12">
                    <div>
                        <p>
                            User Interface and User Experience and Also video editing 
                        </p>
                    </div>
                </div>
                <div class="col-12 ">
                    <div class="row row-about align-items-center justify-content-center">
                        <div class="col-lg-5 ">
                            <img class="w-100 person-about" src="assets/images/person-about.png" alt="">
                        </div>
                        <div class="col-11 col-lg-6  offset-lg-1 text-md-center text-lg-start">
                            <div class="card-about">
                                <p class="text-start">
                                    A software engineer, the modern-day architect of digital realms, navigates the ethereal landscapes of code, sculpting intangible structures that shape our technological world. With fingers poised over keyboards like virtuoso pianists, they compose symphonies of logic, their minds a labyrinth of algorithms and solutions.Their canvas is a screen, a vast expanse where lines of code dance in intricate patterns, weaving the fabric of programs and applications. Each keystroke is a brushstroke, crafting intricate architectures and breathing life into innovative designs.In this digital atelier, they don the mantle of problem solvers, confronting bugs and glitches like valiant knights in an ever-evolving quest for perfection. Debugging becomes a noble pursuit, unraveling the mysteries hidden within the tangled webs of code. designs.In this digital atelier.
                                </p>
                                <button>
                                    <span>
                                        <img src="assets/images/Download.svg" alt="download">
                                    </span>
                                    Download CV
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                   <div class=" progress-bar-about d-flex justify-content-center align-items-center ">
                        
                            <div class="pro-gress">
                                <div class="circular-progress circular-progress-1">
                                    <span class="progress-value">
                                        <img src="assets/images/progress-1.svg" alt="">
                                    </span>
                                </div>
                                <span class="percentage">100%</span>
                                <span class="skill">Figma</span>
                            </div>

                            <div class="pro-gress">
                                <div class="circular-progress circular-progress-2">
                                    <span class="progress-value">
                                        <img src="assets/images/progress-2.svg" alt="">
                                    </span>
                                </div>
                                <span class="percentage">100%</span>
                                <span class="skill">Adobe XD</span>
                            </div>

                            <div class="pro-gress">
                                <div class="circular-progress circular-progress-3">
                                    <span class="progress-value">
                                        <img src="assets/images/progress-3.svg" alt="">
                                    </span>
                                </div>
                                <span class="percentage">85%</span>
                                <span class="skill">Adobe Photoshop</span>
                            </div>

                            <div class="pro-gress">
                                <div class="circular-progress circular-progress-4">
                                    <span class="progress-value">
                                        <img src="assets/images/progress-4.svg" alt="">
                                    </span>
                                </div>
                                <span class="percentage">60%</span>
                                <span class="skill">Adobe Illustrator</span>
                            </div>

                            <div class="pro-gress">
                                <div class="circular-progress circular-progress-5">
                                    <span class="progress-value">
                                        <img src="assets/images/progress-5.svg" alt="">
                                    </span>
                                </div>
                                <span class="percentage">70%</span>
                                <span class="skill">Adobe Premiere</span>
                            </div>
                        
                   </div>
                </div>
                
            </div>
        </div>
    </div>
</section>

<section id="portofolio-sec" class="portofolio">
    <div class="container">
        <div class="mini-portofolio">
            <div class="row">
                <div class="col-12">
                    <div class="text-center">
                        <h2>Portfolio</h2>
                    </div>
                </div>
                <div class="col-12"> 

                    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                        <li class="nav-item" role="presentation">
                          <button class="nav-link active" id="pills-All-tab" data-bs-toggle="pill" data-bs-target="#pills-All" type="button" role="tab" aria-controls="pills-All" aria-selected="true">All</button>
                        </li>
                        <li class="nav-item" role="presentation">
                          <button class="nav-link" id="pills-Website-design-tab" data-bs-toggle="pill" data-bs-target="#pills-Website-design" type="button" role="tab" aria-controls="pills-Website-design" aria-selected="false">Website design</button>
                        </li>
                        <li class="nav-item" role="presentation">
                          <button class="nav-link" id="pills-App-mobil- design-tab" data-bs-toggle="pill" data-bs-target="#pills-App-mobile-design" type="button" role="tab" aria-controls="pills-App-mobile-design" aria-selected="false">App mobile design</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="pills-App-desktop-tab" data-bs-toggle="pill" data-bs-target="#pills-App-desktop" type="button" role="tab" aria-controls="pills-App-desktop" aria-selected="false">App desktop</button>
                          </li>
                          <li class="nav-item" role="presentation">
                            <button class="nav-link" id="pills-Braiding-tab" data-bs-toggle="pill" data-bs-target="#pills-Braiding" type="button" role="tab" aria-controls="pills-Braiding" aria-selected="false">Braiding</button>
                          </li>
                        
                      </ul>
                      <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-All" role="tabpanel" aria-labelledby="pills-All-tab" tabindex="0">

                            <div class="row row-slider ">
                                <div class="slick">

                                    <div class="col-10 col-md-6 col-lg-4">
                                        <div class="card">
                                            <a href="#">
                                                <div class="img">
                                                    <img src="assets/images/pro2.png" alt="">
                                                </div>
                                                <div class="card-bottom d-flex justify-content-between ">
                                                    <h3>Name Project</h3>
                                                    <span>Categories </span>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
    
                                    <div class="col-10 col-md-6 col-lg-4">
                                        <div class="card">
                                            <div class="img">
                                                <img src="assets/images/pro1.png" alt="">
                                            </div>
                                            <div class="card-bottom d-flex justify-content-between ">
                                                <h3>Name Project</h3>
                                                <span>Categories </span>
                                            </div>
                                        </div>
                                    </div>
    
                                    <div class="col-10 col-md-6 col-lg-4">
                                        <div class="card">
                                            <div class="img">
                                                <img src="assets/images/pro3.png" alt="">
                                            </div>
                                            <div class="card-bottom d-flex justify-content-between ">
                                                <h3>Name Project</h3>
                                                <span>Categories </span>
                                            </div>
                                        </div>
                                    </div>
    
                                    <div class="col-10 col-md-6 col-lg-4">
                                        <div class="card">
                                            <div class="img">
                                                <img src="assets/images/pro1.png" alt="">
                                            </div>
                                            <div class="card-bottom d-flex justify-content-between ">
                                                <h3>Name Project</h3>
                                                <span>Categories </span>
                                            </div>
                                        </div>
                                    </div>
    
                                    <div class="col-10 col-md-6 col-lg-4">
                                        <div class="card">
                                            <div class="img">
                                                <img src="assets/images/pro2.png" alt="">
                                            </div>
                                            <div class="card-bottom d-flex justify-content-between ">
                                                <h3>Name Project</h3>
                                                <span>Categories </span>
                                            </div>
                                        </div>
                                    </div>
    
                                    <div class="col-10 col-md-6 col-lg-4">
                                        <div class="card">
                                            <div class="img">
                                                <img src="assets/images/pro3.png" alt="">
                                            </div>
                                            <div class="card-bottom d-flex justify-content-between ">
                                                <h3>Name Project</h3>
                                                <span>Categories </span>
                                            </div>
                                        </div>
                                    </div>
    
                                    <div class="col-10 col-md-6 col-lg-4">
                                        <div class="card">
                                            <div class="img">
                                                <img src="assets/images/pro2.png" alt="">
                                            </div>
                                            <div class="card-bottom d-flex justify-content-between ">
                                                <h3>Name Project</h3>
                                                <span>Categories </span>
                                            </div>
                                        </div>
                                    </div>
    
                                    <div class="col-10 col-md-6 col-lg-4">
                                        <div class="card">
                                            <div class="img">
                                                <img src="assets/images/pro3.png" alt="">
                                            </div>
                                            <div class="card-bottom d-flex justify-content-between ">
                                                <h3>Name Project</h3>
                                                <span>Categories </span>
                                            </div>
                                        </div>
                                    </div>
    
                                    <div class="col-10 col-md-6 col-lg-4">
                                        <div class="card">
                                            <div class="img">
                                                <img src="assets/images/pro1.png" alt="">
                                            </div>
                                            <div class="card-bottom d-flex justify-content-between ">
                                                <h3>Name Project</h3>
                                                <span>Categories </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row row-non-slider justify-content-center ">
                                <div class="col-10 col-md-6 col-lg-4">
                                    <div class="card">
                                        <a href="#">
                                            <div class="img">
                                                <img src="assets/images/pro2.png" alt="">
                                            </div>
                                            <div class="card-bottom d-flex justify-content-between ">
                                                <h3>Name Project</h3>
                                                <span>Categories </span>
                                            </div>
                                        </a>
                                    </div>
                                </div>

                                <div class="col-10 col-md-6 col-lg-4">
                                    <div class="card">
                                        <div class="img">
                                            <img src="assets/images/pro1.png" alt="">
                                        </div>
                                        <div class="card-bottom d-flex justify-content-between ">
                                            <h3>Name Project</h3>
                                            <span>Categories </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-10 col-md-6 col-lg-4">
                                    <div class="card">
                                        <div class="img">
                                            <img src="assets/images/pro3.png" alt="">
                                        </div>
                                        <div class="card-bottom d-flex justify-content-between ">
                                            <h3>Name Project</h3>
                                            <span>Categories </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-10 col-md-6 col-lg-4">
                                    <div class="card">
                                        <div class="img">
                                            <img src="assets/images/pro1.png" alt="">
                                        </div>
                                        <div class="card-bottom d-flex justify-content-between ">
                                            <h3>Name Project</h3>
                                            <span>Categories </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-10 col-md-6 col-lg-4">
                                    <div class="card">
                                        <div class="img">
                                            <img src="assets/images/pro2.png" alt="">
                                        </div>
                                        <div class="card-bottom d-flex justify-content-between ">
                                            <h3>Name Project</h3>
                                            <span>Categories </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-10 col-md-6 col-lg-4">
                                    <div class="card">
                                        <div class="img">
                                            <img src="assets/images/pro3.png" alt="">
                                        </div>
                                        <div class="card-bottom d-flex justify-content-between ">
                                            <h3>Name Project</h3>
                                            <span>Categories </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-10 col-md-6 col-lg-4">
                                    <div class="card">
                                        <div class="img">
                                            <img src="assets/images/pro2.png" alt="">
                                        </div>
                                        <div class="card-bottom d-flex justify-content-between ">
                                            <h3>Name Project</h3>
                                            <span>Categories </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-10 col-md-6 col-lg-4">
                                    <div class="card">
                                        <div class="img">
                                            <img src="assets/images/pro3.png" alt="">
                                        </div>
                                        <div class="card-bottom d-flex justify-content-between ">
                                            <h3>Name Project</h3>
                                            <span>Categories </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-10 col-md-6 col-lg-4">
                                    <div class="card">
                                        <div class="img">
                                            <img src="assets/images/pro1.png" alt="">
                                        </div>
                                        <div class="card-bottom d-flex justify-content-between ">
                                            <h3>Name Project</h3>
                                            <span>Categories </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        
                        <div class="tab-pane fade" id="pills-Website-design" role="tabpanel" aria-labelledby="pills-Website-design-tab" tabindex="0">.
                        </div>
                        <div class="tab-pane fade" id="pills-App-mobile-design" role="tabpanel" aria-labelledby="pills-App-mobile-design-tab" tabindex="0">.App mobile design..</div>
                        <div class="tab-pane fade" id="pills-App-desktop" role="tabpanel" aria-labelledby="pills-App-desktop-tab" tabindex="0">..App desktop.</div>
                        <div class="tab-pane fade" id="pills-Braiding" role="tabpanel" aria-labelledby="pills-Braiding-tab" tabindex="0">..Braiding.</div>
                      </div>


                </div>
            </div>
        </div>
    </div>
</section>

<section id="contact-sec" class="contact">
    <div class="container">
        <div class="mini-contact">
            <div class="row">
                <div class="col-12 text-center">
                    <h2>Contact me</h2>
                    <p>Cultivating Connections: Reach Out and Connect with Me</p>
                </div>
                <div class="col-12">
                    <form>
                        <div class="row justify-content-center">
                            <div class="col-11 col-lg-5">
                                <div>
                                    <input type="text" placeholder="Name">
                                    <input type="text" placeholder="Phone Number">
                                    <input type="text" placeholder="Timeline">
                                </div>
                            </div>
                            <div class="col-11 col-lg-5 text-center  text-lg-end">
                                <div>
                                    <input type="text" placeholder="Email">
                                    <select id="Service" class="select-selected">
                                        <option value="volvo" selected>Service of Interest</option>
                                        <option value="saab">Saab</option>
                                        <option value="vw">VW</option>
                                        <option value="audi" >Audi</option>
                                      </select>
                                    <textarea type="text" placeholder="Project Details..."></textarea>
                                    <button>Send</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>




{% endblock content %}